.button {
    width: 20%;
    background: rgb(255, 0, 106);
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.button:disabled {
    background: #006eff;
    cursor: not-allowed;
}